.app{
  background-color:grey;
  width: 100vw;
  height: 100vh;
}

/* .videoMainContainer{
  position: relative;
} */

.heading{
  position: absolute;
  color: white;
  top: 10px;
  left: 45%;
}

.vid{
  /* margin: auto; */
  /* position: relative; */
  padding-top: 20px;
  display: flex;
  justify-content: center;
  
}
.volumeControls{
  background-color:transparent;
  z-index: 20;
  position: absolute;
  right: 15%;
  top: 5%;
  
}

.playControls{
  position: absolute;
  top: 35%;
  left: 15%;
  display: flex;
  justify-content: space-around;
  z-index: 20;
  padding-left: 10;
  width: 70%;
  margin: auto;

}
.time_bar {
  background-color: gray;
  border-radius: 15px;
  width: 75vw;
  height: 5px;
  z-index: 30;
  position: relative;
  margin: 0 20px;
}

.timeControls{
  width: 70%;
  margin: auto;
}

.time_progressBar {
  border-radius: 15px;
  background-color: indigo;
  height: 100%;
}
.seekBar{
  display: flex;
  flex-direction: row;
}

.controlsIcon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-left: 10rem;
  margin-right: 10rem;
}

.controlsIcon--small {
  width: 32px;
  height: 32px;
  cursor: pointer;
  margin-left: 10rem;
  margin-right: 10rem;
}

/* Main Container */

